/* docs/.vitepress/theme/custom.css */

/* MAIN PAGE TITLE ANIMATION */
.VPHero .name {
  background: linear-gradient(
    90deg, 
    #1212DE 0%,
    #1278DE 33%,
    #12DEDE 66%,
    #00a8cc 100%  
  );
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: supernova-slide 4s linear infinite;
  
  display: inline-block;
}

/* Custom coloring for titles of info boxes */
.custom-block.info .custom-block-title {
  background: -webkit-linear-gradient(120deg, #41d1ff 30%, #000000);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

/* Info block border color/gradient */
.custom-block.info {
  border: 2px solid transparent;
  background-image:
    linear-gradient(#fff, #fff),
    linear-gradient(45deg, #42d392, #647eff, #42d392);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-size: 200% 200%;
  animation: gradientMove 3s ease infinite;
}
/* Adjust fill and border for dark mode */
.dark .custom-block.info {
  background-image:
    linear-gradient(#1e1e20, #1e1e20),
    linear-gradient(45deg, #42d392, #647eff, #42d392);
  
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.gradient-title-page {
  color: #037BFC
}

/* Keyframe for main page gradient animation */
@keyframes supernova-slide {
  to {
    background-position: 200% center;
  }
}

/* Keyframe for info box border animation */
@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.navbar-github-link::before {
  content: '';
  display: flex;
  width: 22px;
  height: 22px;
  
  /* The Stencil */
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://w3.org d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.43.372.823 1.102.823 2.222 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E");
  
  /* The Color and Placement */
  background-color: currentColor;
  mask-repeat: no-repeat;
  mask-size: contain;
}